<h2>Telephone Directory</h2>

<div class="grid-container">

  <!-- Point2: Printing name and mobile number of the 20 objects of Person in alphabetical order -->
  <div class="grid-item">
    <input type="text" placeholder="Search by Name or Mobile number" style="width: 300px;" [(ngModel)]="searchTerm" /><br>
    <h4>Person List</h4>
    <ul *ngFor = "let p of person | personFilter:searchTerm | orderBy:'name'">
      <li (click)="localStorageItem(p)" [ngClass]="getSelected(p)"><a href="#">{{ p.name + ', ' + p.mobile }}</a></li>
    </ul>
  </div>

  <!-- Point3: Implementing filter pipe for Example 1 of the given reference -->
  <div class="grid-item">
    <h4>Example 1: This example displays below the list containing the character "e" in name using filter</h4>
    <ul *ngFor = "let p of person | personFilter:'e'">
      <li>{{ p.name + ', ' + p.mobile }}</li>
    </ul>
  </div>

  <!-- Point3: Implementing filter pipe for Example 2 of the given reference -->
  <div class="grid-item">
    <h4>Example 2: This example displays below the list containing the character "e" in name and '91' in mobile number using filter</h4>
    <ul *ngFor = "let p of person | personFilter:'e' | personFilter:'91'">
      <li>{{ p.name + ', ' + p.mobile }}</li>
    </ul>
  </div>

  <!-- Point6: Rendering all details of the selected Person from the child component -->
  <div class="grid-item">
    <app-child-person [childSelectedP]="selectedP" [childPerson]="person"></app-child-person>  
  </div>

</div>